RewriteEngine On
RewriteBase /

# 1. Alihkan SEMUA traffic ke maintenance.html
RewriteCond %{REQUEST_URI} !/maintenance\.html$ [NC]
RewriteCond %{REQUEST_URI} !.*\.(jpe?g|png|gif|css|js)$ [NC]

# 2. KECUALI untuk IP Address kamu (agar kamu tetap bisa akses)
#    Ganti 123.45.67.89 dengan IP Address publik kamu.
#    Cari IP publikmu di Google dengan mengetik "my ip address".
RewriteCond %{REMOTE_ADDR} !=114.124.208.9

# Aturan pengalihan (Gunakan 302 untuk sementara)
RewriteRule ^(.*)$ /maintenance.html [R=302,L]